riorganizzazione dei campi nel config dei dataset

Al momento arkimet ha un set di campi che interpreta direttamente (tipo "filter", "archive age" etc) e ciò che non conosce viene ignorato e attualmente viene usato in maniera accessoria ("restrict" da arkiweb, "bksize" dalla proc di manutenzione, eccetera).

Questo alla lunga sta creando qualche confusione, segue proposta per sanare la situazione:

- [ ] identificare (o creare se non già presente) doc con l'elenco finito dei campi attualmente interpretati da arkimet
- [ ] censire e documentare nomi e scopi dei campi custom (wiki?)
- [x] definire e aggiungere prefisso per i campi custom (e documentarlo insieme ai capi del punto 1)
- [ ] introdurre un parsing periodico dei config che generi un warning in caso di variabili custom prive di prefisso (valutare se tenerla come procedura interna o inserire la cosa in uno dei tool di arkimet tipo `arki-mergeconf`)

> identificare (o creare se non già presente) doc con l'elenco finito dei campi attualmente interpretati da arkimet

In ordine sparso greppati dai file sorgenti:
  * `type`: tipo di dataset (`iseg`, `ondisk2`, `simple`, `error`, `duplicates`, `remote`, `outbound`, `discard`, `file`, `testlarge`)
  * `path`: path del dataset
  * `format`: formato del dataset (e.g. `grib`)
  * `smallfiles`: `yes` o `no`, serve per salvare nell'indice il contenuto del file indicizzato
  * `index`: elenco separato da virgola dei metadati usati come indice
  * `unique`: elenco separato da virgola dei metadati che rendono univoco un file
  * `qmacro`: in uso nel dataset di tipo `remote`
 * `archive age`: numero di giorni oltre i quali un dato deve essere spostato in `.archive`
 * `delete age`: numero di giorni oltre i quali un dato deve essere eliminato
 * `indexfile`: file indice (default: `index.sqlite`)
 * `replace`: nel caso in cui un dato venga reimportato, se `yes` allora viene sovrascritto altrimenti (`no`) viene spostato nel dataset `duplicates`. Se `USN` boh :)
 * `step`: step dei segmenti (`daily`, `monthly`, etc)
 * `segments`: può assumere il valore `dir` (ma non ho capito a cosa serve)
 * `mockdata`: può assumere il valore `true` (ma non ho capito a cosa serve)
 * `shard`: tipo di shard (`weekly`, `monthly`, `yearly`)
 * `index_type`:  `plain` o `sqlite` per i dataset di tipo `simple`, `error` e `duplicates` (è opzionale)
 * `restrict`: da usarsi con l'opzione `--restrict`, permette di autorizzare solo alcuni utenti all'accesso del dataset

A seguito di chiacchierata con @edigiacomo , aggiungiamo:

- `__` (doppio underscore) prefisso per campi custom

il contenuto di questi ultimi due commenti andrà a popolare un qualche file in markdown dentro ai doc

In protocolli tipo HTTP e RFC822, i campi extra sono prefissati con `X-`. Vi può andar bene anche quello, o avete già fatto cose col doppio underscore?

> In protocolli tipo HTTP e RFC822, i campi extra sono prefissati con X-. Vi può andar bene anche quello, o avete già fatto cose col doppio underscore?

Confermo che ci sono già cose col doppio underscore.

Confesso, io ci avevo pure pensato, però la mia lieve pignoleria mi ha fatto leggere [RFC6648][1] che rende deprecato il prefisso `X-`. Ho dunque optato per il pitonesco e discutibilissimo doppio underscore.

[1]: https://tools.ietf.org/html/rfc6648

Ooh, non conoscevo l'RFC6648, grazie!
Da quello che capisco leggendolo, però sconsiglia qualunque prefisso, non solo `X-`, suggerendo invece di rendere piú agevole la procedura di registrazione/documentazione di nuovi nomi.

Un'opzione sarebbe quindi di far sí che arkimet accetti tutto, e poi avere una pagina del wiki. o un file `.md` nel repository, dove documentare tutto quello che viene usato. Questo però rende impossibile implementare un controllo sullo spelling delle chiavi in arkimet.

Per fare dei prefissi per i parametri in un file di configurazione, l'RFC6648 suggerisce di usare il nome dell'organizzazione nel prefisso:
```
 In some situations, segregating the parameter name space used in a
   given application protocol can be justified:

   1.  When it is extremely unlikely that some parameters will ever be
       standardized.  In this case, implementation-specific and private-
       use parameters could at least incorporate the organization's name
       (e.g., "ExampleInc-foo" or, consistent with [RFC4288],
       "VND.ExampleInc.foo") or primary domain name (e.g.,
       "com.example.foo" or a Uniform Resource Identifier [RFC3986] such
       as "http://example.com/foo").  In rare cases, truly experimental
       parameters could be given meaningless names such as nonsense
       words, the output of a hash function, or Universally Unique
       Identifiers (UUIDs) [RFC4122].
```

Per cui propngo che arkimet ignori tutto quello che inizia con un solo underscore, e di usare in ARPAE un prefisso tipo `_arpae_*`. Visto che ci sono già cose col doppio underscore, con questa soluzione continuerebbero comunque a venire ignorate da arkimet.

Mi piace! Purtroppo, fino a settembre non avremo @brancomat tra noi per avere un'ulteriore approvazione della cosa :)

Sorry, mi ero fumato questa issue.
Pur capendo le premesse, molto egoisticamente il doppio underscore ha una buona leggibilità nelle conf dei dataset che sarebbe abbastanza peggiorata a trasformarlo in un `_arpae_*`.

Mi vien da dire che le occasioni di collisione di campi custom fra organizations siano evento improbabile, io proporrei di semplificare come segue:
- i campi vengono documentati e aggiunti alla doc (che è poi la issue #143)
- arkimet ignora tutti i campi che iniziano con underscore e come best practice nella doc di cui sopra rimandiamo alla RFC6648
- si potrebbe introdurre un controllo di validità dei campi senza underscore (ad es. in modo che alla partenza dell'arki-server almeno tiri un warning se trova campi ignoti)
- chi usa campi custom li documenta extra arkimet e se ha bisogno di tool di validazione se lo crea extra-arkimet (cambiare idea in questo senso non impatta con le azioni dei punti precedenti, che secondo me sono più prioritarie)